<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shimmita.devopssociety">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.audio.output" />

    <application
        android:allowBackup="true"
        android:appCategory="productivity"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/dev_ops_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dev_ops_main"
        android:supportsRtl="true"
        android:theme="@style/Theme.DevOPsSociety"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".mains.LoggedInActivity"
            android:exported="false" />
        <activity
            android:name=".mains.DrawerMainStarter"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mains.MakePayments"
            android:exported="false" />
        <activity
            android:name=".mains.OverviewLearningServicesMainActivity"
            android:exported="false" />
        <activity
            android:name=".mains.DisplayProgrammingLanguagesOnRecyclerOverview1"
            android:exported="false" />
        <activity
            android:name=".mains.ForeignerAccount"
            android:exported="false" />
        <activity
            android:name=".mains.Overview"
            android:exported="false" />
        <activity
            android:name=".mains.Registration"
            android:exported="false"
            android:parentActivityName=".mains.DrawerMainStarter" />
        <activity
            android:name=".mains.Login"
            android:exported="false" />
        <activity
            android:name=".mains.MainActivity"
            android:exported="true"
            android:parentActivityName=".mains.DrawerMainStarter">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>